# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Executables
*.exe
*.out
*.app

# Ignore everything in bin directories
# except info.dir file
auditory/bin/*
!auditory/bin/dir.info
visual/bin/*
!visual/bin/dir.info
single-trial-version/bin/*
!single-trial-version/bin/dir.info

# Ignore output data files
# except for info.dir file
single-trial-version/output
!single-trial-version/output/dir.info

# Emacs backups
*~
